h1 {
    color: red;
}
/* 1. color property
h1 is a selector to style our html page 
   color is a css property 
   red is a value */

   /* 2. background property */
   h1 {
    background-color: thistle;
   }

   /* 3. color system */
   /* there are mainly two system use in css 
   1. RGB  (in RGB R stand sor red | G stand for green | B stand for blue)
   (EX rgb(255,255,255)color set o-255(0-255 is color contity))
   2. HEX system (hex system follow hexadecimal number system(0-9,A=10,B=11,C=12,D=13,E=14,F=15))
      (EX #ff0000)*/
    
      /* EX OF RGB */
      p{
        color: rgb(255,43,67);
      }

      /* EX OF HEX SYSTEM */
      h2{
        color: #9fb670;
    }

    /* 4. SELECTOR 
       1. universal selector *{} = to select all html body part
       2. element selector p{} = to selecct specific element
       3. id selector #myid{} = slect one id define in html code
       4. class selector .myclass{} slect one class define in html code*/

       /* 1 ex */
       *{
        color: aquamarine;
        background-color: azure;
       }

/* 2 ex */
h3{
    color: burlywood;
}
/* 3 ex*/
#hello{
    background-color: rgb(132, 72, 147);

}

/* 4 ex */
.class{
    color: aquamarine;
}


/* Text property */
/* 1. text align = use to set content (left|right|center) */

#A{
    text-align: center;
}
#B{
    text-align: right;
}
#C{
    text-align: left;
}

/* 2. Text Decoration =  use for decorate content (underline|overline|line-through)*/

#D{
    text-decoration: underline;
}
#E{
   text-decoration: overline;
}
#F{
    text-decoration: line-through;
}

/* 3. FONT WEIGHT = USE FOR ARRANGE FONT WEIGHT (NORMAL|BOLD|BOLDER|LIGHTER) */


#G{
    font-weight: bold;
}
#H{
   font-weight: bolder;
}
#I{
    font-weight: normal;
}
#J{
    font-weight: lighter;
}


/* 4. FONT FAMILY = USE TO SET FONT FAMILY  */

#HI{
    font-family: Arial;
}

#HELLO{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Units in css = to use set font size */
/* 1. Absoulte    pixels(px) 96px = 1 inch*/

#one{
    font-size: 25px;
}

/* Text Property */
/* line-height = use for set line height  */
#two{
    line-height: 50px;
}

/* Text transform =  to use text in (uppercase = all text in capital form.|
lowercase = all text in lowercase form.|cpaitalize = first letter of each word capital.|
none = It keeps text in its original format) */

/*  uppercase ex */
#three{
    text-transform: uppercase;
}

/* lowercase ex */
#four{
    text-transform: lowercase;
}

/* cpaitalize ex */
#five{
    text-transform: capitalize;
}

/* none ex */
#six{
    text-transform: none;
}





